* {
  margin: 0px;
}

body {
  font-family: "Mynerve", cursive;
  display: grid;
  flex-direction: column;
  text-align: center;
}

ul {
  list-style: none;
}

#new-game-modal {
  display: none;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

label,
input {
  display: flex;
  flex-direction: column;
}

#game-area-container {
  display: none;
  flex-direction: column;
}

#game-board-container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  justify-content: center;
  align-content: center;
}

.board-squares {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
